# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.xccheckout
*.scmresults

# Obj-C/Swift
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
Package.resolved

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
